/*This will be my file for potential card animations*/
body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210831/pngtree-classy-luxury-casino-game-background-image_774371.jpg");
    margin-top: 0;
    text-align: center;
}

header{
    background-color: red;
    overflow: hidden;
    border-radius: 3rem;
    margin-bottom: 3rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    outline-style: dashed;
    outline-width: 0.5rem;
}

h1 {
    justify-content: center;
    text-align: center;
}

h2 {
    text-align: center;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#moneyHeader{
    font: bold;
    color:rgb(50, 226, 50);
    font-size: xx-large;
}

.Table{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5rem;
    border-style: solid;
    height: 40rem;
}

.Cards img{
    height: 10rem;
}

#DealerCards{
    position: relative;
    bottom: 35rem;
}

#PlayerCards{
    position: relative;
    bottom: 25rem;
}

button{
    font-size: xx-large;
    margin-inline: 2rem;
    background-color: red;
    outline-style:solid;
}

button:hover{
    filter: brightness(1.5);
    transform: scale(1.05);
}

#Hit, #Stand {
    position: relative;
    bottom: 20rem;
    width: 8rem;
}

#betPrompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 47rem;
    color: black;
    font-size: larger;
    font-style: oblique;
    font-weight: bold;
}

#betPrompt button{
    margin-top: 1rem;
}

#betAmount {
    width: 10rem;
}

#currentCash{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-style:normal;
    font-weight: bolder;
}